@page "/"
@inject IJSRuntime JS
@inject NavigationManager navigationManager

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<div class="text-center">
    <button class="btn-success" @onclick="(() => GetFacebookJWT())"></button>
    <div id="authStatus"></div>
</div>

<SurveyPrompt Title="How is Blazor working for you?" />

@{
    async Task GetFacebookJWT()
    {
        const string appId = "544820154087185";
        var accessTokenRequest = $"https://www.facebook.com/v14.0/dialog/oauth?response_type=token&display=popup&client_id={appId}&redirect_uri=https://localhost:7287/FacebookAuth";

        navigationManager.NavigateTo(accessTokenRequest, true);
    }
}